/* About Us */
.about-section {
    background-color: #222831;
    justify-items: center;
}

.about-text {
    background-color: #393E46;
    padding: 3.125rem;
    font-family: "Tenor Sans", sans-serif;
    max-width: 102rem;
    font-size: 1.25rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .125rem;
    border-radius: .5rem;
    color: #d9d9d9;
    line-height: 1.9;
    text-align: left;
}

/* Account */
.account-input {
    padding: 2.5rem;
    margin: 1.875rem auto 1.875rem auto; 
    background-color: #393E46;
    font-family: "Tenor Sans", sans-serif;
    max-width: 86.25rem;
}

.account-input label {
    font-family: "Tenor Sans", sans-serif;
    text-transform: uppercase;
    font-size: .9375rem;
    letter-spacing: .125rem;
}

/* Bundles */
.bundles {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    text-decoration: none;
    gap: 6.875rem;
    padding: 2.5rem;
    background-color: #222831;
}

.bundle {
    background-color: #393E46;
    padding: .9375rem;
    border-radius: .5rem;
    width: 25rem;
    box-shadow: 0px 2px 6px #222831;
    text-align: center;
}

.bundle img {
    width: 90%;
    border-radius: .3125rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.bundle h3 {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: .625rem;
    color: #d9d9d9;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* Models */
.models-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
    padding: 2.5rem;
    justify-items: center;
    align-items: center;
    background-color: #222831;
}

.models {
    background-color: #393E46; 
    border-radius: .5rem;
    padding: 1.5625rem;
    text-align: center;
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
}

.models img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}

/* Model detail page layout */
.models-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    background: #393E46;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 700px;
    color: #d9d9d9;
}
.model-info {
    flex: 1;
    text-align: left;
}

/* Fragances */
.fragances {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
    padding: 2.5rem;
    justify-items: center;
    align-items: center;
    background-color: #222831;
}

.fragances div {
    background-color: #393E46; 
    border-radius: .5rem;
    padding: 1.5625rem;
    width: 80%;
}

.fragances img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}