/* Reset y tipografía base */
* {
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222831;
}

hr {
    border: none;
    height: 0.3rem;
    background-color: #75787E;
}

/* Header y Navbar */
.header-section {
    background-color: #222831;
    padding: 1.875rem;
}

.header-section h1 {
    text-transform: uppercase;
    text-align: center;
}

.header-section h1 a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 4.375rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

/* NAVBAR BASE */
nav {
    background: #9f9587;
    padding: 1rem 1rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #d9d9d9;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    z-index: 1000;
}

/* Menú principal */
.nav-menu {
    list-style: none;
    display: flex;
    gap: .625rem;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #222831;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #d9d9d9;
    border-radius: .55rem;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    padding: .7rem 1rem;

}

.nav-menu a:hover {
    background-color: #9f958794;
    color: #ffffff;
    font-weight: 900;
    box-shadow: 1px 2px 8px #222831;
}

/* Search Form */
.search-form {
    display: flex;
}

.search-toggle {
    background-color: #d9d9d9;
    color: #393e46da;
    border: none;
    border-radius: .55rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.search-toggle:hover {
    background-color: #9f958794;
    color: #ffffff;
    box-shadow: 1px 2px 8px #222831;
}

.icon-search {
    width: 1.6rem;
    height: 1.6rem;
    stroke: #222831;
    fill: none;
    stroke-width: 2;
}

.search-input {
    width: 0;
    border: none;
    border-radius: 0.55rem;
    background: #e5e5e5;
    color: #9f9587;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    outline: none;
    text-transform: uppercase;
    margin-left: 0;
}

.search-form.active .search-input {
    width: 10rem;
    padding: 0.4rem;
}

.search-form.active .search-toggle {
    display: none;
}

/* Cuenta y carrito */
.nav-account {
    display: flex;
    gap: .625rem;
    list-style: none;
}

.nav-account li a {
    display: flex;
    background-color: #d9d9d9;
    color: #222831;
    border-radius: .55rem;
    padding: .3rem 1rem;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.nav-account li a:hover {
    background-color: #9f958794;
    color: #ffffff;
    box-shadow: 1px 2px 8px #222831;
}

.nav-account svg {
    width: 2rem;
    height: 2rem;
}

/* Main Section */
.main-img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    text-align: center;
    background-color: #9f9587;
}

.collections {
    text-decoration: none;
}

.collections h2,
.headings h2 {
    color: #d9d9d9;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    padding: 1.2rem;
}

/* Bundles */
.bundles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    padding: 2.5rem;
    background-color: #222831;
}

.bundle {
    background-color: #393E46;
    padding: 1rem;
    border-radius: 0.55rem;
    text-decoration: none;
    text-align: center;
    color: #d9d9d9;
}

.bundle:hover {
    background-color: #9f9587;
}

.bundle h3 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.5rem;
}

.bundle img {
    width: 90%;
    height: auto;
    border-radius: .3125rem;
    display: block;
    margin: 1.25rem auto;
}

/* Footer */
footer {
    color: #d9d9d9;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 2.5rem;
    margin-bottom: 1.25rem;
}

.footer-bottom {
    background-color: #393E46;
    border-radius: .375rem;
    padding: .625rem;
    font-size: .75rem;
    letter-spacing: .4375rem;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    justify-content: center;
}

.footer-column {
    background-color: #393E46;
    padding: .9375rem 1.875rem;
    border-radius: .55rem;
    text-transform: uppercase;
}

.footer-column h3 {
    letter-spacing: .3rem;
    font-size: 1rem;
    margin-bottom: .8rem;
    border-bottom: .0625rem solid #c0b2a3;
    padding: .5625rem;
}

.footer-column ul {
    list-style: none;
}

.footer-column a {
    color: #d9d9d9; 
    text-decoration: none; 
    display: block;
    line-height: 1.4rem;
    margin: 5px 0;
    font-size: 0.8rem;
    letter-spacing: .125rem;
}

/* About Us */
.about-section {
    background-color: #222831;
    justify-items: center;
    padding: 2.5rem;
}

.about-text {
    background-color: #393E46;
    padding: 3.125rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
    border-radius: .55rem;
    color: #d9d9d9;
    line-height: 1.5;
}

/* Account */

.account-section {
    background-color: #222831;
    padding: 2.5rem;
    justify-items: center;
}

.account-input {
    padding: 3.125rem;
    background-color: #393E46;
    width: 100%;
    border-radius: .55rem;
}

.account-input label {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: .9375rem;
    letter-spacing: .125rem;
}

/* Models */
.models-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
    padding: 2.5rem;
    justify-items: center;
    align-items: center;
    background-color: #222831;
}

.models {
    background-color: #393E46; 
    border-radius: .55rem;
    padding: 2rem;
}

.models img {
    width: 100%;
    height: auto;
    border-radius: .55rem;
}

/* Model detail page layout */

.model {
    background: #222831;
    padding: 2.5rem;
}

.models-detail {
    display: flex;
    gap: 2rem;
    background: #393E46;
    border-radius: .55rem;
    padding: 2.5rem;
    color: #d9d9d9;
}
.model-info {
    color: #d9d9d9;
    text-align: left;
    font-size: 1.1rem;
    line-height: 3rem;
}

/* Fragances */
.fragances-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
    padding: 2.5rem;
    justify-items: center;
    align-items: center;
    background-color: #222831;
}

.fragances {
    background-color: #393E46; 
    border-radius: .55rem;
    padding: 2rem;
}

.fragances img {
    width: 100%;
    height: auto;
    border-radius: .55rem;
}

/* ------------------- MEDIA QUERIES ------------------- */

/* 320px - Mobile XS */
@media (max-width: 320px) {
    .header-section {
        padding: 1rem;
    }
    .header-section h1 a {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .main-img {
        width: 100%;
        height: auto;
    }
    .bundle,
    .footer-column,
    .models {
        padding: 0.7rem;
    }
    .bundles {
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    nav {
        padding: 0.5rem;
        gap: 0.5rem;
    }
    nav ul {
        gap: 0.3rem;
    }
    nav ul li {
        width: 100vw;
    }
    nav a {
        font-size: 1.1rem;
        padding: 1rem 0;
    }
    .search-form {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        align-items: center;
    }
    .search-form.active .search-toggle {
    display: none;
    }
    .search-form input[type="text"],
    .search-form button,
    .search-form input[type="submit"] {
        max-width: 96vw;
        font-size: 1rem;
        padding: 0.7rem 0.5rem;
    }
    .fragances {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }
    .models-group {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }
    .about-text {
        padding: 1rem;
        font-size: 1rem;
    }
    .account-input {
        padding: 1rem;
        font-size: 1rem;
    }
    .models-detail {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        max-width: 98vw;
    }
}

/* 425px - Mobile S */
@media (max-width: 425px) {
    .header-div h1 a {
        font-size: 1.5rem;
        letter-spacing: 0.12rem;
    }
    .main-img {
        max-width: 98vw;
        width: 100%;
    }
    .bundle,
    .footer-column,
    .models {
        max-width: 98vw;
        padding: 0.8rem;
    }
    .bundles {
        gap: 1.2rem;
        padding: 1.2rem;
        flex-direction: column;
        align-items: center;
    }
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        padding: 1.2rem;
    }
    .models-group {
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        padding: 1.2rem;
    }
}

/* 768px - Tablet */
@media (max-width: 768px) {
    .header-div h1 a {
        font-size: 2.2rem;
        letter-spacing: 0.3rem;
        padding-bottom: 0.35em;
        padding-top: 0.35em;
    }
    .main-img {
        width: 100%;
        max-width: 400px;
        margin: 1rem auto;
    }
    .bundle,
    .footer-column,
    .models {
        width: 100%;
        max-width: 25rem;
        margin: 1.5rem 1.5rem;
        padding: 1rem;
    }
    .bundles {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1.5rem;
    }
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
    }
    nav ul li {
        width: 90%;
        justify-content: center;
    }
    nav a {
        width: 90%;
        box-sizing: border-box;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem 0;
        margin: 0.2rem 0;
    }
    .search-form {
        flex-direction: column;
        gap: 0.7rem;
        width: 90%;
    }
    .fragances {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        padding: 1.5rem;
    }
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        padding: 1.5rem;
    }
    .models-group {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        padding: 1.5rem;
    }
    .models-detail {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }
    .model-info {
        text-align: center;
    }
}

/* 1024px - Laptop/Tablet Landscape */
@media (max-width: 1024px) {
    .nav-toggle {
        display: block;
    }
    .nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        min-width: 180px;
        width: auto;
        background: #9f9587;
        flex-direction: column;
        box-shadow: 0 2px 8px #22283144;
        border-radius: 0.5rem;
        z-index: 999;
        display: none;
        padding: 0.5rem 1.5rem;
    }
    .nav-menu.active {
        display: flex;
    }
    .nav-menu a {
        padding: 0.7rem 1.2rem;
    }
}

/* En pantallas mayores a 1024px, el menú siempre visible y horizontal */
@media (min-width: 1025px) {
    .nav-toggle {
        display: none !important;
    }
    .nav-menu {
        position: static;
        flex-direction: row;
        background: none;
        box-shadow: none;
        border-radius: 0;
        display: flex !important;
        padding: 0;
    }
    .nav-menu a {
        font-size: 1rem;
        padding: .7rem 1rem;
    }
}